<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="FluxClientID" value="b4e9536a-5fbe-437e-abc6-fbd8cc03fa8f" />
    <add key="FluxClientSecret" value="" />
    <add key="RedirectUrl" value="http://www.google.com" />
    <add key="FluxClientVersion" value="dev" />
  </appSettings>
</configuration>